#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use console install (not graphical)
cmdline
text
eula --agreed
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --noipv6 --activate static --ip 192.168.50.10 --netmask=255.255.255.0 --gateway 192.168.50.1 --nameserver 8.8.8.8,8.8.4.4 --hostname localhost.localdomain

# System authorization information
# user: root
# pwd.: admin12345
auth --passalgo=sha512 --useshadow
rootpw --iscrypted $6$D1vGxIly32NpFZ7k$judD8zn9CRdtz7.M0Kb2Ll7dHipJYUaZK54S1FDsz9YGyJcobU4vW5JZl6pjR7Q7N78DjuIeEPO2ajH9kUapP1
# user: student
# pwd.: student
group --name=common
user --groups=common --name=student --iscrypted --gecos="student" --password=$6$qG21QNh1nF2ac1Q4$x79JAjnUtLQyxdBFKOvNA4umPyEuHcDSclHdgBHv3D4ggzITlFKqqK8gj1NJwiQsMRuJHEuEN/3Zq4brTSIBf.

# System services
services --enabled="chronyd"
# System timezone
timezone America/Sao_Paulo --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part / --fstype="ext4" --ondisk=vda --size=194559
part swap --fstype="swap" --ondisk=vda --size=10240

# SELinux Configuration
selinux --enforcing
firewall --enabled --http --ftp --smtp --ssh --port=8080,8443

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# -------------------------------
# virt-install -n "openshift" --ram 26500 --vcpus 6 --metadata description="openshift cluster" --location "/home/raphael/Downloads/_iso/CentOS-7-x86_64-DVD-1804.iso" --os-type=linux --os-variant=rhel7 --boot cdrom,hd,menu=on --disk path=/var/lib/libvirt/images/openshift.qcow2,size=200,sparse=false,cache=none --input keyboard --extra-args="ks=http://192.168.0.17/ks-cfg/server-ks-openshift.cfg ip=dhcp console=tty0 console=ttyS0,115200n8 serial" --network network:default --nographics
# -------------------------------
